<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entretenimento</title>
</head>
<body>
     <!--Cabeçalho ou início do meu site-->
     <header style="display: flex;">
        <!--Section foto de perfil-->
        <section>
            <img src="perfil.pgn.webp" alt="Imagem de perfil" height="100px" width="100x">
        </section>
        <!--Informações pessoais-->
        <section>
            <br> <br> <br>
            &nbsp; &nbsp; &nbsp;
            Beatriz Cavalcante | 21 Anos | <a href="https://www.instagram.com/beatriiz_cavalcante/?next=%2F">@Beatriiz_Cavalcante</a> | 
            Biamenezes193@gmail.com | Escorpiana
        </section>
    </header>
    <!--Navegação da minha página-->
    <nav>
        <br> 
        <!--<a href=""> refere´se ao link de navegação-->
        <hr>
        &nbsp;
        <a href="mySite.html">Sobre mim</a> |
        <a href="entretenimento.html">Entretenimento</a> |
        <a href="músicas.html">Músicas</a> | 
        <a href="formcontato.html">Fale comigo aqui</a>      
        <hr>
    </nav>
    <!--Seção de entretenimento-->
    <h1>Conteúdos que eu curto</h1>
    <article>
        <h3>Divertidamente</h3>
        <h5>Nota: 5/5</h5>
        <p>
            <img src="divertidamente.jpg" alt="Foto dos personagens" height="120px" width="200px">
        </p>
        <p>
            <strong>Divertidamente</strong>
            É um filme de desenho animado que personaliza os seguintes sentimentos:
            <ul>
                <li>Raiva</li>
                <li>Tristeza</li>
                <li>Nojo</li>
                <li>Alegria</li>
                <li>Medo</li>
            </ul>
        </p>
        <p>
            Para conhecer mais <a href="https://www.disneyplus.com/pt-br/movies/divertida-mente/uzQ2ycVDi2IE">Clique aqui</a>
        </p>
    </article>
    <hr>
    <article>
       <h3>Grey's Anatomy</h3>
       <h5>Nota:5/5</h5>
       <p>
        <img src="GreysAnatomy.jpg" alt="Foto do elenco" height="120px" width="200px">
       </p>
       <p>
        <strong>Grey's Anatomy</strong>
        É uma série que mostra o dia a dia de médicos. Mostrando a rotina de trabalho e pessoal. 
        Famosa pelos desenrolos amorosos e morte dos personagens.
       </p>
       <p>
        Para conhecer mais <a href="">Clique aqui</a>
        ainda não funciona!!
       </p>
    </article>
    <hr>
    <article>
       <h3>Extraordinário</h3>
       <h5>Nota:5/5</h5>
       <p>
        <img src="Extraordinario.jpg" alt="Capa do filme" height="120px" width="200px">
       </p> 
       <p>
        <strong>Extraordinário</strong>
        É uma história que tem como protagonista uma criança com deficiência física. Mostra o processo de adrendizagem dele 
        e como que é a convivência das pessoas com ele na escola. 
       </p>
       <p>
        Para conhecer mais <a href="">Clique aqui</a>
        ainda não funciona!!
       </p>
    </article>
    <hr>
    <article>
       <h3>Mamilos-Podcast</h3>
       <h5>Nota:4/5</h5>
       <p>
        <img src="mamilos.webp" alt="Apresentadiras do podcast" height="150px" width="150px">
       </p> 
       <p>
        <strong>Mamilos-Podcast</strong>
        É um podcast de noticias apresentado pelas publicitárias Juliana Wallauer e Cris Bartis.
        Retratam sempre temas atuais.
       </p>
       <p>
        Para conhecer mais <a href="">Clique aqui</a>
        ainda não funciona!!
       </p>
    </article>
    <hr>
    <article>
       <h3>Harry Potter</h3>
       <h5>5/5</h5>
       <p>
        <img src="harry-potter.jpg" alt="Harry Potter" height="120px" width="200px">
       </p> 
       <p>
        <strong>Harry Potter</strong>
        a saga Harry Potter conta a história de um menino bruxo que fica órfão, depois que o vilão Voldemort assassina
         seus pais a sangue frio. O garoto se torna uma lenda no mundo mágico por ter sobrevivido ao feitiço mortal
          apenas com uma cicatriz na testa, mesmo sendo apenas um bebê.
       </p>
       <p>
        Para conhecer mais <a href="">Clique aqui</a>
        ainda não funciona!!
       </p>
    </article>
    <footer>
        by Beatriz Cavalcante &copy;
    </footer>
</body>
</html>