<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fale comigo aqui</title>
</head>
<body>
      <!--Cabeçalho ou início do meu site-->
      <header style="display: flex;">
        <!--Section foto de perfil-->
        <section>
            <img src="perfil.pgn.webp" alt="Imagem de perfil" height="100px" width="100x">
        </section>
        <!--Informações pessoais-->
        <section>
            <br> <br> <br>
            &nbsp; &nbsp; &nbsp;
            Beatriz Cavalcante | 21 Anos | <a href="https://www.instagram.com/beatriiz_cavalcante/?next=%2F">@Beatriiz_Cavalcante</a> | 
            Biamenezes193@gmail.com | Escorpiana
        </section>
    </header>
    <!--Navegação da minha página-->
    <nav>
        <br> 
        <!--<a href=""> refere´se ao link de navegação-->
        <hr>
        &nbsp;
        <a href="mySite.html">Sobre mim</a> |
        <a href="entretenimento.html">Entretenimento</a> |
        <a href="músicas.html">Músicas</a> | 
        <a href="formcontato.hmtl">Fale comigo aqui</a>   
        <hr> 
</body>
</html>