<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Space</title>
</head>
<body>
    <!--Cabeçalho ou início do meu site-->
    <header style="display: flex;">
        <!--Section foto de perfil-->
        <section>
            <img src="perfil.pgn.webp" alt="Imagem de perfil" height="100px" width="100x">
        </section>
        <!--Informações pessoais-->
        <section>
            <br> <br> <br>
            &nbsp; &nbsp; &nbsp;
            Beatriz Cavalcante | 21 Anos | <a href="https://www.instagram.com/beatriiz_cavalcante/?next=%2F">@Beatriiz_Cavalcante</a> | 
            Biamenezes193@gmail.com | Escorpiana
        </section>
    </header>
    <!--Navegação da minha página-->
    <nav>
        <br> 
        <!--<a href=""> refere´se ao link de navegação-->
        <hr>
        &nbsp;
        <a href="mySite.html">Sobre mim</a> |
        <a href="entretenimento.html">Entretenimento</a> |
        <a href="músicas.html">Músicas</a> | 
        <a href="formcontato.html">Fale comigo aqui</a>   
        <hr>
    </nav>
    <!--Estrutura de principal do site-->
    <main>
        <h1>Conheça um pouco do meu mundo</h1>
        <p>
          Opa!! <br>
          Me chamo Beatriz :)) <br>
          Sou iniciante na área de tecnologia da informação. <br>
          Aqui está um pouco dos meus estudos.
        </p>
        <ul>
            <h3>Curiosidades sobre mim</h3>
            <li>Meus hobbies
                <ul>
                    <li>Cozinhar</li>
                    <li>Me exercitar</li>
                    <li>Fotografar</li>
                </ul>
            </li>
            <li>Artistas favoritos
                <ul>
                    <li>Duda Beat</li>
                    <li>Rita Lee</li>
                    <li>Martins</li>
                </ul>
            </li>
            <li>Tenho um cachorro linduu</li>
            <li>Amo comer
                <ul>
                    <li>Docinhos</li>
                    <li>Comidas com queijo</li>
                    <li>Frutos do mar</li>
                </ul>
            </li>
        </ul>
    </main>
    <hr>
    <!--rodapé-->
    <footer>
        by Beatriz Cavalcante &copy;
    </footer>
</body>
</html>