<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Músicas</title>
</head>
<body>
     <!--Cabeçalho ou início do meu site-->
     <header style="display: flex;">
        <!--Section foto de perfil-->
        <section>
            <img src="perfil.pgn.webp" alt="Imagem de perfil" height="100px" width="100x">
        </section>
        <!--Informações pessoais-->
        <section>
            <br> <br> <br>
            &nbsp; &nbsp; &nbsp;
            Beatriz Cavalcante | 21 Anos | <a href="https://www.instagram.com/beatriiz_cavalcante/?next=%2F">@Beatriiz_Cavalcante</a> | 
            Biamenezes193@gmail.com | Escorpiana
        </section>
    </header>
    <!--Navegação da minha página-->
    <nav>
        <br> 
        <!--<a href=""> refere´se ao link de navegação-->
        <hr>
        &nbsp;
        <a href="mySite.html">Sobre mim</a> |
        <a href="entretenimento.html">Entretenimento</a> |
        <a href="músicas.html">Músicas</a> | 
        <a href="formcontato.html">Fale comigo aqui</a>      
        <hr>
    </nav>
    <!--Aqui começa minha lista-->
    <main>
        <h1>Listinha de músicas fav</h1>
        <ul>
            <li>O seu amor - Caetano Veloso</li>
            <li>O meu amor - Chico Boarque</li>
            <li>Estar com você - Ponto de equilíbrio</li>
            <li>Tangerina - Duda Beat</li>
            <li>Ninguém me ensinou - Lagum</li>
            <li>Preta - Ana Vitória</li>
            <li>A rua - Jão</li>
            <li>Garupa de moto amarela - Tim Bernardes</li>
            <li>Você pra sempre em mim- Tiago Iorc</li>
            <li>Tudo que a fé pode tocar- Tiago Iorc</li>
            <li>Homens e mulheres - Ana Carolina</li>
            <li>É só música - Almério e Martins</li>
        </ul>
    </main>
    <footer>
        by Beatriz Cavalcante &copy;
    </footer>
</body>
</html>