/*CSS external*/
/* Ordem de prioridade de comando
   inline>>embedded>>external 
*/
h3 {
    /*Altura*/
    height: 50px;
    /*largura*/
    width: 100%;
    /*Cor do texto*/
    color: coral;
    /*Plano de fundo*/
    background-color: rgb(89, 126, 89);
    /*Alinhamento do texto*/
    text-align: center;
}
a {
    /*tirar a linha(underline)*/
    text-decoration: none;
    /*tamanho da fonte*/
    font-size: 20px;
}
ul li a {
    /*Sombra no texto/projeção
       Primeiro valor corresponde ao eixo x e o segundo ao y*/
    text-shadow: 2px 3px rgb(70, 70, 199),
                -4px -6px rgb(222, 130, 135);    
}
p#escolhido {
    background-color: pink;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    /*Espaçamento entre as letras*/
    letter-spacing: 2px;
    /*Para mudar o teixto minusculo/maiusculo*/
    text-transform: uppercase;
  
}
footer {
      /*Espessura da letra*/
      font-weight: bold;
      /*Tipo da fonte*/
      font-family: sans-serif;
      text-align: center;
}
